<!-- views/attention-check.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>Political Opinion Study - Quick Question</title>
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container" style="width: 800px;">
        <div class="study-card">
            <h1>Quick Question</h1>
            <br>
            <form action="/attention-check" method="POST">
                <div class="form-group">
                    <p>Please complete this brief writing task to help us get to know you even better. We want to make
                        sure that people are paying attention to our questions. Please ignore the
                        question about your favourite season and just write the word "potato" as your answer, then
                        continue. Thank you.</p>
                    <br>
                    <label for="seasonAnswer"><b>What is your favourite season of the year?</b></label>
                    <input type="text" id="seasonAnswer" name="seasonAnswer" required>
                </div>
                <br>

                <div class="button-container">
                    <button type="submit" class="button">Continue</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>