<!-- views/llm-edit.ejs -->
<!DOCTYPE html>
<html>

<head>
  <title>Political Opinion Study - Edit AI Paragraph</title>
  <link rel="stylesheet" href="/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <div class="study-card">
      <div class="sticky-header">
        <div class="counter-badges">
          <div class="counter-badge-container">
            <span class="counter-badge-label">Proposition:</span>
            <div class="counter-badge"><%= index %> of <%= total %></div>
          </div>
          <div class="counter-badge-container">
            <span class="counter-badge-label">Step:</span>
            <div class="counter-badge screen-badge">2 of 2</div>
          </div>
        </div>

        <form action="/llm-edit" method="POST">
          <p>Consider this political proposition:</p>
          <div class="content-container content-container-proposition">
            <div class="content-text content-text-proposition">
              <%= proposition %>
            </div>
          </div>
      </div>

      <div class="scrollable-content">
        <div class="form-group">
          <label for="editedParagraph">Now you have the chance to <b>edit the AI-written paragraph</b>. If you feel that
            the paragraph already reflects your opinion, you do not have to edit it. Otherwise please edit it until it
            does.</label>
          <textarea id="editedParagraph" name="editedParagraph" rows="12" required style="border-left: 4px solid #9b59b6;"><%= modelParagraph %></textarea>
        </div>
        <br>

        <div class="button-container">
          <button type="submit" class="button">Continue</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>