<!-- views/onboarding.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>LLM Opinion Study - Onboarding</title>
  <link rel="stylesheet" href="/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="study-card">
      <h1>Welcome!</h1>
      <br>
      
      <div class="introduction">
        <p>In this survey, we will ask you <b>what you think about different political issues</b>.
          We will ask you to rate political statements, and to express your opinion in your own words.</p>
        
        <p>All your responses will be <b>fully anonymised</b>.</p>
        
        <p>We expect the survey to take around <b>60 minutes</b>. We will give you additional information about our study once you have completed the survey.</p>
        
        <p>Thank you for participating 🤗</p>
      </div>
      
      <div class="button-container">
        <a href="/demographics" class="button">Continue</a>
      </div>
    </div>
  </div>
</body>
</html>