<!-- views/proposition-intro.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>Political Opinion Study - Proposition Introduction</title>
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="study-card">
            <div class="sticky-header">
                <div class="counter-badges">
                    <div class="counter-badge-container">
                        <span class="counter-badge-label">Statement:</span>
                        <div class="counter-badge"><%= index %> of <%= total %></div>
                    </div>
                    <div class="counter-badge-container">
                        <span class="counter-badge-label">Step:</span>
                        <div class="counter-badge step-badge">1 of 2</div>
                    </div>
                    <div class="counter-badge-container">
                        <span class="counter-badge-label">Screen:</span>
                        <div class="counter-badge screen-badge">1 of 7</div>
                    </div>
                </div>

                <form action="/proposition-intro" method="POST">
                    <p>Consider this statement:</p>
                    <div class="content-container content-container-proposition">
                        <div class="content-text content-text-proposition">
                            <%= proposition %>
                        </div>
                    </div>
            </div>
            <div class="scrollable-content">

                <p>Please read through the statement above, then click "Continue".</p>

                <div class="button-container">
                    <button type="submit" class="button">Continue</button>
                </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>